/* Секция часто задаваемых вопросов FAQ*/
.faq-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; /* Добавить отступы! */
  box-sizing: border-box;
  margin-bottom: 160px;
}

/* Список вопросов */
.faq-list {
  list-style: none;
  padding: 0;
}

/* Элемент вопроса */
.faq-item {
  padding-left: 15px;
}

/* Активный (открытый) вопрос */
.faq-active {
  border: 3px solid;
  border-color: var(--icons-1);
  padding-left: 12px;
  color: var(--icons-1);
}

/* Вопрос (заголовок FAQ) */
.faq-question {
  cursor: pointer;
  margin: 0;
}

/* Номер вопроса */
.faq-num {
  font-weight: 700;
  font-size: 14px;
  opacity: 0.5;
  padding-right: 10px;
}

/* Ответ на вопрос */
.faq-answer {
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: var(--main-black);
  opacity: 0.5;
}

/* Заголовок секции FAQ */
.faq-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
