.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Контейнер формы обратной связи */
.formaContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  max-width: 480px;
  min-height: 480px;
  border: 1px solid #000;
  /* margin: auto auto; */
  opacity: 0;
  /* transform: scale(0.8); */
  transition: none; /* Управление через JS */
  z-index: 1;
  background: #000;
}

/* Кнопка закрытия модального окна */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

/* Форма обратной связи */
.forma {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* Поле ввода формы */
.inputArea {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  max-width: 478px;
  height: 68px;
  opacity: 0.3;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

/* Подсказка в поле ввода */
.inputArea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
  padding-left: 24px;
}

/* Текстовое поле формы */
.textArea {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  max-width: 478px;
  height: 128px;
  opacity: 0.3;
  background-color: transparent;
}

/* Подсказка в текстовом поле */
.textArea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
  padding-left: 24px;
  padding-top: 26px;
}

/* Блок согласия с политикой */
.agreement {
  display: flex;
  gap: 13px;
  margin-top: 8px;
  margin-bottom: 13px;
}

/* Метка согласия */
.agreement label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}

/* Чекбокс согласия */
.checkbox {
  border: 2px solid var(--white);
  border-radius: 5px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

/* Кнопка отправки формы */
.formaButton {
  max-width: 480px;
}