.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  overflow: hidden;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Контейнер формы обратной связи */
.formaContainer {
  max-width: 480px;
  min-height: 480px;
  padding: 20px;
  opacity: 0;
  
  z-index: 1;
  background: #000;
}

/* Кнопка закрытия модального окна */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

/* Форма обратной связи */
.forma {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* Поле ввода формы */
.inputArea {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  max-width: 478px;
  height: 68px;
  opacity: 0.3;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

/* Подсказка в поле ввода */
.inputArea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
  padding-left: 24px;
}

/* Текстовое поле формы */
.textArea {
  border: 1px solid var(--white);
  border-radius: 5px;
  width: 100%;
  max-width: 478px;
  height: 128px;
  opacity: 0.3;
  background-color: transparent;
}

/* Подсказка в текстовом поле */
.textArea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
  padding-left: 24px;
  padding-top: 26px;
}

/* Блок согласия с политикой */
.agreement {
  display: flex;
  gap: 13px;
  margin-top: 8px;
  margin-bottom: 13px;
}

/* Метка согласия */
.agreement label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}

/* Чекбокс согласия */
.checkbox {
  border: 2px solid var(--white);
  border-radius: 5px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}


/* Базовый стиль кнопки: рамка, цвет, размер, выравнивание */
.button {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--icons-1);
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Эффект при наведении: заливка красным */
.button:hover {
  background: var(--icons-1);
}


/* Кнопка отправки формы */
.formaButton {
  max-width: 480px;
}