/* src/index.css */
:root {
  --white: #fff;
  --main-black: #050c33;
  --gradient-card-gray: #fff;
  --icons-1: #f14d34;
  --icons-2: rgba(249, 224, 80, 0.5);
  --icons-3: rgba(249, 224, 80, 0.3);
  --icons-white-gr: #c4c4c4;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family);
  background: var(--white);
  color: var(--main-black);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

